<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Salut</title>
	</head>
	<body>
		<h1>Hello
			{{name}}!</h1>

		<ul>
			{% for age in ages %}

				{% if age >= 18 %}
					<li>
						Adulte
					</li>
				{% else %}
					<li>
						Enfant
					</li>

				{% endif %}

			{% endfor %}
		</ul>
	</body>
</html>
